@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  min-width: 1024px;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.min-h-free {
  min-height: calc(100vh - 125px);
}
